.container{
    
     /* height: 400px;
     width: 500px;
     border: 2px solid grey;
     display: flex;
     justify-content: center;
     align-items: center; */

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
h1{
    border: 5px solid green; 
    background-color: gray;
    border-radius: 15px;
    border-radius: 10px;
   
}
/* .search {
    margin: 12px;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background-color: gray;
} */
/* .searchbar{
    /* height: 300px;
    /* width: 300px; */
    /* border: 2px solid green; */ */

/* } */ */
.search{
    margin: 15px;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
}

.btn{
    
    /* display: flex;
    justify-content: center;
    align-items: center;
   margin: 10px; */
    /* gap: 50px;
    margin: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px
    /* grid-template-columns: auto auto auto auto; */
  
}
.INTRADAY {
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid green;

}
.DAILY{

    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid green;

}
.WEEKLY{
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid green;

}
.MONTHLY{
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid green;

}
#check{
 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px
}
/* .searchlist{
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* .searchlist{
    background-color: gray;
    text-align: center;
    background-color: gray;
    width: 400px;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid green;
} */
button{
    border: 3px solid gray;
    border-radius: 2px;
}
/* button:active{
    background-color: red;
} */
#btn{
/* height: 400px;
width: 400px; */
display: grid;
/* background-color: red; */
grid-template-columns: 2fr 2fr;


}

/* .check{
    background-color: gold;
    color: red;
} */
.fa-solid fa-arrow-up{

}
#search{
    display:flex;
    text-align: center;
    justify-content: center;
   
   width: 600px;
   padding: 20px;
   background-color: gray;
   border-radius: 6px sold red;

}
.big{
    display: block;
    justify-content: center;
    text-align: center;
}
.searchlist{
    /* display: block; */
    justify-content: center;
    align-items: center;
  
    text-align: center;
   
    width: 900px;
    margin: 25px;
    padding: 20px;
   
    border-radius: 10px;
    border: 2px solid grey;
    width: 500px;
}
.change{

    display: flex;
    margin: 11px;
    padding: 12px;
}
#icon{
   
    margin: 30px;
    font-size: 30px
}
